[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
pytest = "*"
pytest-django = "*"
pyyaml = "*"
pylint = "*"
rope = "*"
requests = "*"

[packages]
djangorestframework = "==3.9.2"
drf-writable-nested = "==0.5.1"
Django = "==2.2.13"
psycopg2-binary = "*"
celery = "*"
django-celery-results = "*"
django-rest-swagger = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
